/* Reset some styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h1, h2, h3, h4, h5, h6 {
  color: #444;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
}

button {
  padding: 10px 20px;
  border: none;
  /* border-radius: 5px; */
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: white;
  color:#007BFF;
}

button:disabled {
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
}

table {
  width: 60%;
  border-collapse: collapse;
  margin: 20px auto;
}

table, th, td {
  border: 1px solid #ddd;
}

td {
  padding: 15px;
}

th {
  text-align: center;
  background-color: #007BFF;
  color: white;
  padding: 5px;
}

@keyframes fadeIn {
  from { opacity: 0.5; }
  to { opacity: 1; }
}

@keyframes hoverFade {
  from { background-color: #f2f2f2; }
  to { background-color: #ffffff; }
}
tr{
  animation: fadeIn 0.2s ease-in-out;
}
tr:hover {
  animation: hoverFade 0.2s forwards;
}


select {
  /* width: 100%; */
  padding: 10px 15px;
  border: none;
  border-radius: 0px;
  background-color: #ffffff;
  color: #333;
  font-size: 16px;
/*  appearance: none; /* Remove default arrow */
}

select:focus {
  outline: none;
 /* box-shadow: 0 0 0 3px rgba(0,123,255,.25); /* Add a blue outline when focused */
  border-color: rgb(0, 123, 255); /* Add a blue outline when focused */
}

input {
  width: 30%;
  padding: 10px 15px;
  border: none;
  /* border-radius: 4px; */
  background-color: #ffffff;
  color: #333;
  font-size: 16px;
}

input:focus {
  outline: none;
  border-color: rgb(0, 123, 255); /* Add a blue outline when focused */
}